{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="fh5co-gallery">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h2>Wedding Gallery</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="gallery animate-box">
							<a class="gallery-img image-popup image-popup" href="{% static 'website/images/pre-wed-3.jpg' %}"><img src="{% static 'website/images/pre-wed-3.jpg' %}" class="img-responsive"></a>
						</div>
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-4.jpg' %}"><img src="{% static 'website/images/pre-wed-4.jpg' %}" class="img-responsive"></a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-5.jpg' %}"><img src="{% static 'website/images/pre-wed-5.jpg' %}" class="img-responsive"></a>
						</div>
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-12.jpg' %}"><img src="{% static 'website/images/pre-wed-12.jpg' %}" class="img-responsive"></a>
						</div>
                        <div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-1.jpg' %}"><img src="{% static 'website/images/pre-wed-1.jpg' %}" class="img-responsive"></a>
						</div>
					</div>
                    <div class="col-md-6">
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-2.jpg' %}"><img src="{% static 'website/images/pre-wed-2.jpg' %}" class="img-responsive"></a>
						</div>
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-6.jpg' %}"><img src="{% static 'website/images/pre-wed-6.jpg' %}" class="img-responsive"></a>
						</div>
					</div>
                    <div class="col-md-6">
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-7.jpg' %}"><img src="{% static 'website/images/pre-wed-7.jpg' %}" class="img-responsive"></a>
						</div>
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-8.jpg' %}"><img src="{% static 'website/images/pre-wed-8.jpg' %}" class="img-responsive"></a>
						</div>
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-9.jpg' %}"><img src="{% static 'website/images/pre-wed-9.jpg' %}" class="img-responsive"></a>
						</div>

					</div>
                    <div class="col-md-6">
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-10.jpg' %}"><img src="{% static 'website/images/pre-wed-10.jpg' %}" class="img-responsive"></a>
						</div>
						
					</div>
			<div class="col-md-6">
					<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/pre-wed-11.jpg' %}"><img src="{% static 'website/images/pre-wed-11.jpg' %}" class="img-responsive"></a>
						</div>
						<div class="gallery animate-box">
							<a class="gallery-img image-popup" href="{% static 'website/images/iv-card-2.jpg' %}"><img src="{% static 'website/images/iv-card-2.jpg' %}" class="img-responsive"></a>
						</div>
					</div>	
				</div>
				<div class="container">
				<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fweb.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1116027569174423%26id%3D100023015714654&show_text=false&width=500" width="500" height="333" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
				</iframe>
				</div>
			</div>
</div>


{% endblock %}
